.container{
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  background-color: #f4df42;
  text-align: center;
}

.temp {
  font-size: 50px;
}

.deg {
    font-size: 30px;
}

.nav-link {
  font-size: 10px;
}

h6 {
  margin: 0;
}

.headline {
  margin-top: 10px;
}
